.homenav{
    background-color: #cc2eb7;
    font-size: 20px;
    font-family: 'Comic Sans MS', sans-serif;
}

.homenav li{
    display: inline-block;
    margin-right: 1rem;
    background-color: #cc2eb7;
}

.homenav li a:hover {
    background-color: #403a5f;
    color: white;
}

.homenav ul {
    list-style-type: none;
}

.grid_container {
    background-color: #ff3535;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.grid_item {
    background-color: antiquewhite;
    text-align: center;
    font-size: 30px;
}